/vendor
/.idea
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
/.wercker
/storage

# Env files
.env
.env.*
!environment/.env.wercker
!environment/.env.defaults
!environment/.env.production
!environment/.env.beta
!environment/.env.alpha
!environment/.env.sample
!environment/.env.docker
environment/.env.dev
environment/env.php
!environment/*.j2
